[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "==0.12.2"
flask-cors = "==3.0.6"
flask-featureflags = "==0.6"
flasgger = "==0.9.1"
"psycopg2" = "==2.7.5"
flask-heroku-cacheify = "==1.6.1"
gunicorn = "==19.9.0"

[dev-packages]
pytest = "==4.6.2"
