-i https://pypi.python.org/simple/
click==7.0; python_version != '3.0.*'
flasgger==0.8.1
flask-cache==0.13.1
flask-cors==3.0.4
flask-featureflags==0.6
flask-heroku-cacheify==1.6.1
flask==0.12.2
gunicorn==19.9.0
itsdangerous==0.24
jinja2==2.10
jsonschema==2.6.0
markupsafe==1.0
mistune==0.8.3
psycopg2==2.7.4
pylibmc==1.5.2
pyyaml==3.13
redis==2.10.6
six==1.11.0
werkzeug==0.14.1
