mistune==0.7.4
flasgger==0.7.0
pyyaml==3.12
gunicorn==19.7.1
flask==0.12.2
psycopg2==2.7.3.1
six==1.11.0
redis==2.10.6
flask-heroku-cacheify==1.6.0
flask-cache==0.13.1
markupsafe==1.0
flask-featureflags==0.6
jinja2==2.9.6
jsonschema==2.6.0
werkzeug==0.12.2
flask-cors==3.0.3
pylibmc==1.5.2
itsdangerous==0.24
click==6.7
