{% extends "openods_site/base.html" %}

{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-sm-2 col-md-2">
    <h4>Getting Started</Started></h4>
    <ul class="list-group">
        <li class="list-group-item"><a href="#intro">Introduction</a></li>
        <li class="list-group-item"><a href="#endpoint">Endpoint</a></li>
        <li class="list-group-item"><a href="#rate">Rate Limiting</a></li>
        <li class="list-group-item"><a href="#auth">Authentication</a></li>
        <li class="list-group-item"><a href="#versioning">Versioning</a></li>
        <li class="list-group-item"><a href="#paging">Paging</a></li>
        <li class="list-group-item"><a href="#responses">Responses</a></li>

    </ul>
    <!--<h4>Resources</h4>-->
    <ul class="list-group">
        <li class="list-group-item"><a href="/resources">Resources</a></li>
    </ul>
</div>
<div class="col-sm-10 col-md-10">
    <a class="anchor" id="intro"></a>
    <h2 >Introduction</h2>
    <p>OpenODS is a reference data API built aspiring towards REST principles using NHS organisational data available openly from the NHS Organisation Data Service (ODS).</p>
    <p>You are welcome to use OpenODS to support your projects as you like - all we ask is that you give us feedback and contribute any suggestions you might have to help us to continuously improve it.</p>
    <p>If you're interested in contributing there are lots of ways you can help - so get in touch!</p>

    <a class="anchor" id="endpoint"></a>
    <h2>Endpoint</h2>
    <p>OpenODS API can be accessed at the following endpoint:</p>
    <code>www.openods.co.uk/api</code>

    <a class="anchor" id="rate"></a>
    <h2 >Rate Limiting</h2>
    <p>We don't apply rate-limiting to client requests as we don't see enough traffic at this point in time - but please do be considerate and avoid inadvertent DOS attacks :)</p>

    <a class="anchor" id="auth"></a>
    <h2 >Authentication</h2>
    No authentication is required to access data via the OpenODS API.

    <a class="anchor" id="versioning"></a>
    <h2>Versioning</h2>
    <p>Whilst in Alpha, the API does not use any form of versioning. Breaking changes may be made to the API although we will try and avoid this where not necessary.</p>
    <p>In the future, we will look to introduce versioned endpoints to handle backwards-incompatible changes.</p>

    <a class="anchor" id="paging"></a>
    <h2>Pagination</h2>
    <p>Pagination can be used on routes which return multiple instances of a resource (e.g. <code>/organisations</code>) by using the <code>offset</code> and <code>limit</code> query parameters to page the results returned.
    <p>Responses containing multiple resources will include a <code>X-Total-Count</code> header with the total number of resources available.
    <p><em>At some point in the future we'll add prev / next headers to make paging through results easier but for the moment you will need to track yourself using the <code>X-Total-Count</code> header.</em>

   <a class="anchor" id="responses"></a>
    <h2>Responses</h2>
    <p>As you can only do GET requests against the API currently there are only a couple of response codes you can expect to receive.
    <ul>
        <li><code>200 OK</code> - Will be returned when a request is successful. The body will either contain a single resource object, or a list of resource objects. In the event of no results (e.g. on a request with query parameters <code>/organisations?q=chocolate</code> request), a <code>200</code> with an empty list will be returned.
        <li><code>404 NOT FOUND</code> - Will be returned when a request is unsuccessful. This will normally occur when trying to GET a single resource e.g. <code>/organisations/RFF</code>
    </ul>

</div>
</div>
</div>
{% endblock %}
