{% extends "openods_site/base.html" %}

{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-sm-2 col-md-2">
    <h4>Resources</h4>
    <ul class="list-group">
        <li class="list-group-item"><a href="#root">Root</a></li>
        <li class="list-group-item"><a href="#info">Info</a></li>
        <li class="list-group-item"><a href="#organisations">Organisations</a></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="/documentation">Getting Started</a></li>
    </ul>
</div>
<div class="col-sm-10 col-md-10">
    <a class="anchor" id="resources"></a>
    <h2>Resources</h2>

    <div class="openods-resource">
    <a class="anchor" id="root"></a>
    <h3>Root</h3>
    <p>The Root resource provides information about all available resources through the API.</p>
    <b>Example HTTP Request:</b>
    <pre>http://wwww.openods.co.uk/api</pre>
    <b>Example Response:</b>
    <pre>
HTTP/1.0 200 OK
Content-Type: application/json
{
  "organisations": "http://www.openods.co.uk/api/organisations",
  "role-types": "http://www.openods.co.uk/api/role-types"
}
    </pre>
    <b>Attributes:</b>
    <ul>
        <li><code>organisations</code><em>string</em> - The URL root for Organisation resources</li>
        <li><code>role-types</code><em>string</em> - The URL root for Role-Type resources</li>
    </ul>
    </div>

    <div class="openods-resource">
    <a class="anchor" id="info"></a>
    <h3>Info</h3>
    <p>The Info resource returns metadata about the source ODS data currently being served by the API.</p>
    <b>Example HTTP Request:</b>
    <pre>http://wwww.openods.co.uk/api/info</pre>
    <b>Example Response:</b>
    <pre>
HTTP/1.0 200 OK
Content-Type: application/json
{
  "FileCreationDate": "2017-02-15T17:10:00",
  "contentDescription": "HSCOrgRefData_Full_20170215",
  "fileVersion": "2-0-0",
  "importDate": "2017-03-21 15:27:55.298493",
  "publicationDate": "2017-02-15",
  "publicationSeqNo": "1",
  "publicationSource": "HSCIC",
  "publicationType": "Full",
  "recordCount": "179917",
  "primaryRoleScope": [
    {
      "displayname": "PRIMARY CARE TRUST SITE",
      "id": "RO180",
      "name": "PrimaryRoleScope"
    },
    {
      "displayname": "NON-NHS ORGANISATION",
      "id": "RO157",
      "name": "PrimaryRoleScope"
    }
  ]
}
    </pre>
    <b>Attributes:</b>
    <ul>
        <li><code>fileVersion</code><em>string</em> - The version of the file containing the source data used to populate to <OpenODS class=""></OpenODS></li>
        <li><code>importDate</code><em>string</em> - The timestamp representing when the current data was imported into the OpenODS database.</li>
        <li><code>publicationDate</code><em>string</em> - The publication date of the current data.</li>
        <li><code>publicationSeqNo</code><em>string</em> - The publication sequence number of the current data.</li>
        <li><code>publicationType</code><em>string</em> - The publication type of the current data (this will almost always be <code>Full</code>.</li>
        <li><code>publicationSource</code><em>string</em> - The source of the data publication, usually the publishing organisation.</li>
        <li><code>fileCreationDate</code><em>string</em> - The timestamp of when the source XML data file was created.</li>
        <li><code>recordCount</code><em>string</em> - The number of organisation records in the dataset.</li>
        <li><code>contentDescription</code><em>string</em> - A text description of the dataset.</li>
        <li><code>primaryRoleScope</code><em>string</em> - A list of PrimaryRole records which represents the scope of the dataset.</li>
    </ul>
    </div>

    <div class="openods-resource">
    <a class="anchor" id="organisations"></a>
    <h3>Organisations</h3>
    <p>An Organisation resource is a single organisation within ODS.</p>
    <b>Endpoints:</b>
        <ul>
            <li><code>/organisations</code><em>string</em> - get all the Organisation resources (will return a list of 'summary' resource records).</li>
            <li><code>/organisations/:odsCode</code><em>string</em> - get a specific Organisation resource by its ODS code (will return the full resource).</li>
        </ul>
    <b>Query Parameters:</b>
        <ul>
            <li><code>q</code><em>string</em> - Filter results to those containing specified string in their name attribute</li>
            <li><code>offset</code><em>integer</em> - Return results offset by specified number</li>
            <li><code>limit</code><em>integer</em> - Limit number of results returned to specified number</li>
            <li><code>recordClass</code><em>string</em> - Filter results by their record class (HSCOrg or HSCSite)</li>
            <li><code>roleCode</code><em>string</em> - Filter results to only those which have the specified role</li>
            <li><code>primaryRoleCode</code><em>string</em> - Filter results to only those which have the specified primary role (ignored if roleCode is also specified)</li>
        </ul>

    <br>
    <b>Example HTTP Request:</b>
    <pre>http://www.openods.co.uk/api/organisations?q=barnsley&limit=10&roleCode=RO197</pre>
    <b>Example Response:</b>
        <pre>
HTTP/1.0 200 OK
Content-Type: application/json
{
  "organisations": [
    {
      "links": [
        {
          "href": "http://www.openods.co.uk/api/organisations/RFF",
          "rel": "self"
        }
      ],
      "name": "BARNSLEY HOSPITAL NHS FOUNDATION TRUST",
      "odsCode": "RFF",
      "recordClass": "HSCOrg"
    }
  ]
}
        </pre>
        <br>
    <b>Example HTTP Request:</b>
    <pre>http://www.openods.co.uk/api/organisations/RFF</pre>
    <b>Example Response:</b>
    <pre>
HTTP/1.0 200 OK
Content-Type: application/json

{
  "addresses": [
    {
      "addressLines": [
        "GAWBER ROAD"
      ],
      "country": "ENGLAND",
      "county": "SOUTH YORKSHIRE",
      "postCode": "S75 2EP",
      "town": "BARNSLEY"
    }
  ],
  "lastChanged": "2015-05-26",
  "links": [
    {
      "href": "http://test.openods.co.uk/api/organisations/RFF",
      "rel": "self"
    }
  ],
  "name": "BARNSLEY HOSPITAL NHS FOUNDATION TRUST",
  "odsCode": "RFF",
  "operationalStartDate": "1993-04-01",
  "recordClass": "HSCOrg",
  "refOnly": false,
  "relationships": [
    {
      "code": "RE1",
      "description": "HAS A LEGACY RELATIONSHIP TO",
      "links": [
        {
          "href": "http://test.openods.co.uk/api/organisations/D",
          "rel": "related-organisation"
        }
      ],
      "operationalStartDate": "2004-04-01",
      "relatedOdsCode": "D",
      "relatedOrganisationName": "YORKSHIRE & THE HUMBER GOVERNMENT OFFICE REGION",
      "status": "Active",
      "uniqueId": 417
    },
    {
      "code": "RE1",
      "description": "HAS A LEGACY RELATIONSHIP TO",
      "legalEndDate": "2013-03-31",
      "legalStartDate": "2006-07-01",
      "links": [
        {
          "href": "http://test.openods.co.uk/api/organisations/Q32",
          "rel": "related-organisation"
        }
      ],
      "operationalEndDate": "2014-08-31",
      "operationalStartDate": "2006-07-01",
      "relatedOdsCode": "Q32",
      "relatedOrganisationName": "YORKSHIRE AND THE HUMBER STRATEGIC HEALTH AUTHORITY",
      "status": "Inactive",
      "uniqueId": 51767
    }
  ],
  "roles": [
    {
      "code": "RO57",
      "description": "FOUNDATION TRUST",
      "links": [
        {
          "href": "http://test.openods.co.uk/api/role-types/RO57",
          "rel": "role-type"
        }
      ],
      "operationalStartDate": "2005-01-01",
      "primaryRole": false,
      "status": "Active",
      "uniqueId": 154857
    },
    {
      "code": "RO197",
      "description": "NHS TRUST",
      "links": [
        {
          "href": "http://test.openods.co.uk/api/role-types/RO197",
          "rel": "role-type"
        }
      ],
      "operationalStartDate": "1993-04-01",
      "primaryRole": true,
      "status": "Active",
      "uniqueId": 126697
    }
  ],
  "status": "Active",
  "successors": [
    {
      "links": [
        {
          "href": "http://test.openods.co.uk/api/organisations/CJA",
          "rel": "predecessor"
        }
      ],
      "targetOdsCode": "CJA",
      "targetName": "BARNSLEY ACUTE SERVICES UNIT",
      "targetPrimaryRoleCode": "RO111",
      "type": "Predecessor",
      "uniqueId": 11545
    }
  ]
}
    </pre>
    <b>Attributes:</b>
    <ul>
        <li><code>name</code><em>string</em> - The name of this organisation.</li>
        <li><code>odsCode</code><em>string</em> - The ODS code of this organisation.</li>
        <li><code>last_changed</code><em>string</em> - The date on which this organisation record was list updated.</li>
        <li><code>operationalStartDate</code><em>string</em> - The Operational Start Date for this organisation.</li>
        <li><code>operationalEndDate</code><em>string</em> - The Operational End Date for this organisation.</li>
        <li><code>legalStartDate</code><em>string</em> - The Legal End Date for this organisation.</li>
        <li><code>legalEndDate</code><em>string</em> - The Legal End Date for this organisation.</li>
        <li><code>recordClass</code><em>string</em> - The record class of the organisation - currently either HSCOrg or HSCSite.</li>
        <li><code>refOnly</code><em>boolean</em> - Whether the record is included just for reference (will soon be moved to archived data).</li>
        <li><code>status</code><em>string</em> - The status of this organisation record - either <code>Active</code> or <code>Inactive</code></li>
        <li><code>addresses</code><em>array</em> - An array of address objects related to this organisation record.</li>
        <li><code>relationships</code><em>array</em> - An array of relationship objects related to this organisation record.</li>
        <li><code>roles</code><em>array</em> - An array of role objects related to this organisation record.</li>
        <li><code>successors</code><em>array</em> - An array of successor objects related to this organisation record.</li>
        <li><code>links</code><em>array</em> - An array of hypermedia links relevant to this resource.</li>

    </ul>
    </div>
</div>
</div>
</div>
{% endblock %}
