{% extends "base.html" %}

{% block content %}

<div class="row">
          <hr>
    <div class="col-sm-2 col-lg-2 col-md-2">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <h1 class="center">
            Try it now!
        </h1>
        <div class="input-group">
              <span class="input-group-addon">http://www.openods.co.uk/api/</span>
              <input id="interactive" type="text" class="form-control" placeholder="organisations/A/">
              <span class="input-group-btn"><button onClick="interactive_call();return false;" class="btn btn-primary">request</button></span>
            </div>
        <small>Need a hint? try <a href="#" onClick="update('organisations/search/medway/');return false;"><i>organisations/search/medway/</i></a> or <a href="#" onClick="update('organisations?limit=5&offset=20000');return false;"><i>organisations?limit=5&offset=20000</i></a> or <a href="#" onClick="update('role-types/');return false;"><i>role-types/</i></a></small>
        <p class="lead pad_top">Result:</p>
        <div class="well">
          <pre id="interactive_output" class="pre-scrollable">

{
  "name": "NORTH EAST GOVERNMENT OFFICE REGION",
  "odsCode": "A",
  "operationalStartDate": "1994-04-01",
  "recordClass": "HSCOrg",
  "status": "Active",
  "last_changed": "2015-04-13",
  "relationships": [],
  "roles": [
    {
      "role": {
        "code": "RO128",
        "description": "GOVERNMENT OFFICE REGION",
        "operationalStartDate": "1994-04-01",
        "primaryRole": true,
        "status": "Active",
        "links": [
          {
            "href": "http://www.openods.co.uk/api/role-types/RO128",
            "rel": "role-type"
          }
        ],
        "uniqueId": "95705"
      }
    }
  ],
  "links": [
    {
      "href": "http://www.openods.co.uk/api/organisations/A",
      "rel": "self"
    }
  ],
}
          </pre>
        </div>
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2">
    </div>
</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">"Try It" page borrowed from the awesome <a href="http://swapi.co">Star Wars API www.swapi.co</a></div>
<div class="row"></div>
{% endblock %}

{% block scripts %}
<script>
    function update(call){
        jQuery('#interactive').val(call);
        interactive_call();
    }

    function interactive_call(){
        var content = jQuery('#interactive').val()
        if(content == ''){
            content = 'organisations/A/';
        }
        var call_url = '/api/' + content;
        jQuery.ajax({
      dataType: 'json',
      url: call_url,
      context: document.body
    }).complete(function(data) {
        if(data['status'] == 200){
            var d = jQuery.parseJSON(data['responseText']);
            jQuery('#interactive_output').text(JSON.stringify(d, null, '\t'));
        }
        else if (data['status'] == 404) {
            jQuery('#interactive_output').text(data['status'] + ' ' + data['statusText']);
        }
    });
    }
    </script>
{% endblock scripts %}